/myenv/
__pycache__/
.locks
datasets--youssefkhalil320--epub-documents-dataset-v3
misc
pdf_layout
doc_dataset
synthetic_data_generation/generated_latex
synthetic_data_generation/generated_hf_dataset
synthetic_data_generation/datasets
logs

/synthetic_data_generation/dataset/*
!/synthetic_data_generation/dataset/.gitkeep
!/synthetic_data_generation/dataset/demo/

/synthetic_data_generation/generated_latex/internal/*
!/synthetic_data_generation/generated_latex/internal/.gitkeep
/synthetic_data_generation/generated_latex/official/*
!/synthetic_data_generation/generated_latex/official/.gitkeep
/synthetic_data_generation/generated_latex/personal/*
!/synthetic_data_generation/generated_latex/personal/.gitkeep

/synthetic_data_generation/generated_hf_dataset/*
!/synthetic_data_generation/generated_hf_dataset/.gitkeep

/synthetic_data_generation/logging/logs/*
!/synthetic_data_generation/logging/logs/.gitkeep

/synthetic_data_generation/data_item_generation/data_items/figure_item/temp_images/


/reading_order_visualization/generated_annotations/internal/*
!/reading_order_visualization/generated_annotations/internal/.gitkeep
/reading_order_visualization/generated_annotations/official/*
!/reading_order_visualization/generated_annotations/official/.gitkeep
/reading_order_visualization/generated_annotations/personal/*
!/reading_order_visualization/generated_annotations/personal/.gitkeep

/reading_order_visualization/logging/logs/*
!/reading_order_visualization/logging/logs/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.zip
# Tmp files and directories
stderr.*
stdout.*
*.tar
test.sh
OutputDecoder
jobs.txt
_std*.*
tests/tmp/*
runs/*
*.onnx
.DS_Store
*/.DS_Store

# VIM
*.swp
*.swo
*.bak

# Environments
.env
.venv
_venv/
env/
venv/
ENV/
env.bak/
venv.bak/
venv

# User specific configurations
my_configs/
dataset_yaml/
dataset_yamls/
dataset_yamls/*
my_config/
my_config
my_scripts
my_scripts/
my_log/
my_run/
my_npy/
my_yaml/
my_time/
my_profile/
devtools/build_ccx.sh
*ccc.sh
ccc*.sh
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

my_scripts/

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb
viz
viz/
# DevContainer
!.devcontainer/*

# Demo
serve_images/

# Evaulation Results
data 
data_jacob
_job_logs
results
tasks_*.txt

synthetic_data_generation/dataset/*

synthetic_data_generation/dataset/*

synthetic_data_generation/dataset
HF_dataset
env_docling/*
env_docling

poetry.lock
pyproject.toml
.python-version


synthetic_data_generation/dataset
HF_dataset
env_docling/*
env_docling

poetry.lock
pyproject.toml
.python-version
synthetic_data_generation/dataset/demo/doclingdocs
synthetic_data_generation/dataset/demo/doclingdocs/*
HF_dataset/train
HF_dataset/train/*

epub_html_pages/
html_doc/
json_output/
synthetic_data_generation/datasets/hindawi_books/
synthetic_data_generation/datasets/json/